@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --cor-principal: #c71188;
--cor-secundaria: #00CED1;
--cor-destaque: #8A2BE2;
}
Body {
    font-family: 'roboto mono', sans-serif;
    }
    h1, h2, h5 {
        color: var(--cor-secundaria);
        font-weight: 700;
        }
        footer{
            color: var(--cor-principal);
            }
            footer :hover {
                color: var(--cor-destaque);
                }

.container{
    text-align: center;
}

.rounded-circle{
    border-radius: 30px;
}

.card-img-top {
    height: 200px;
    width: 200px;
}

